<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GIF 채팅방</title>
    </head>
    <body>
        <div>F12를 눌러 console탭과 newwork 탭을 확인하세요</div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket=io.connect('http://localhost:8005',{
                path:'/socket.io',
            });
            socket.on('news',function(data){
                console.log(data);
                socket.emit('reply','Hello Node.js');
            });
        </script>
    </body>
</html>